{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

	<div class="page-container">

		{# <div class="flash-image">
			<img src="{{ base_url }}/image/flash-image.jpg" alt="">
		</div> #}

		<div class="content-container has-sidebar-left">

			<aside class="aside">
				<div class="aside-column">
					<h3>Analysis</h3>
					 {% for page in pages("analysis") if not page.hidden %}
                    <a href="{{ page.url }}">{{ page.title }}</a><br>
                	{% endfor %}
				</div>
			</aside>

			<main class="main" role="main">
				{{ content }}
			</main>
			
		</div>

	</div>

    {% include 'incl/footer.twig' %}
</body>

</html>
