/*
Table styles
*/

table {
  width: 100%;
  border-collapse: collapse;

  th {
    padding: $spacing-xsmall $spacing-small;
    text-align: left;
    background-color: $background-color-primary;
    color: $text-color-inverted;
    border: 1px solid $border-color-light;
  }

  tr {
    td {
      border: 1px solid $border-color-light;
      padding: $spacing-xsmall $spacing-small;
      vertical-align: middle;
    }
  }
}
